<form #contactForm="ngForm" (ngSubmit)="saveContact(contactForm)">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" placeholder="First Name" #firstName="ngModel" name="firstName"
      [(ngModel)]="contactData.firstName" required />
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
      <div *ngIf="firstName.errors.required">
        First Name is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" placeholder="Last Name" #lastName="ngModel" name="lastName"
      [(ngModel)]="contactData.lastName" required />
    <div *ngIf="lastName?.invalid && (lastName.dirty || lastName.touched)">
      <div *ngIf="lastName.errors.required">
        Last Name is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Address Line 1</label>
    <input type="text" class="form-control" placeholder="Address Line 1" #addressLineOne="ngModel" name="addressLineOne"
      [(ngModel)]="contactData.addressLineOne" required />
    <div *ngIf="
        addressLineOne?.invalid &&
        (addressLineOne.dirty || addressLineOne.touched)
      ">
      <div *ngIf="addressLineOne.errors.required">
        Address line 1 is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Address Line 2</label>
    <input type="text" class="form-control" placeholder="Address Line 2" #addressLineTwo="ngModel" name="addressLineTwo"
      [(ngModel)]="contactData.addressLineTwo" />
  </div>
  <div class="form-group">
    <label>City</label>
    <input type="text" class="form-control" placeholder="City" #city="ngModel" name="city"
      [(ngModel)]="contactData.city" required />
    <div *ngIf="city?.invalid && (city.dirty || city.touched)">
      <div *ngIf="city.errors.required">
        City is required.
      </div>
      <div *ngIf="city.invalid">
        City is invalid.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Country</label>
    <select class="form-control" #country="ngModel" name="country" [(ngModel)]="contactData.country" required>
      <option *ngFor="let c of countries" [value]="c.name">
        {{ c.name }}
      </option>
    </select>
    <div *ngIf="country?.invalid && (country.dirty || country.touched)">
      <div *ngIf="country.errors.required">
        Country is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Postal Code</label>
    <input type="text" class="form-control" placeholder="Postal Code" #postalCode="ngModel" name="postalCode"
      [(ngModel)]="contactData.postalCode" required [pattern]="getPostalCodeRegex()" />
    <div *ngIf="postalCode?.invalid && (postalCode.dirty || postalCode.touched)">
      <div *ngIf="postalCode.errors.required">
        Postal code is required.
      </div>
      <div *ngIf="postalCode.invalid">
        Postal code is invalid.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" class="form-control" placeholder="Phone" #phone="ngModel" name="phone"
      [(ngModel)]="contactData.phone" required [pattern]="getPhoneRegex()" />
    <div *ngIf="phone?.invalid && (phone.dirty || phone.touched)">
      <div *ngIf="phone.errors.required">
        Phone is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Age</label>
    <input type="text" class="form-control" placeholder="Age" #age="ngModel" name="age" [(ngModel)]="contactData.age"
      required [range]="[0, 200]" />
    <div *ngIf="age?.invalid && (age.dirty || age.touched)">
      <div *ngIf="age.errors.required">
        Age is required.
      </div>
      <div *ngIf="age.invalid">
        Age must be between 0 and 200.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" placeholder="Email" #email="ngModel" name="email"
      [(ngModel)]="contactData.email" required email />
    <div *ngIf="email?.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email is required.
      </div>
      <div *ngIf="email.invalid">
        Email is invalid.
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
